*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif ;

}

body{
background-color: 
}


root{
    --color-primaria;
    
}

/*nome da categoria moto*/
h1{color:white; 
  
    width:400px;
    height:px;
    background-color:#B7B7B7;
    border:0px solid black;
    font-size: 3rem;
    margin-top:3%;
    
}
 
/*menu: inicio/ctt/prod*/  
 h2{ color:rgb(255, 255, 255);
display:flex
flex-direction:column;
align-items:center;
border: 1px solid black;
width: 150px;
height: px;
transition: 0.3s ease-in-out;

}
/*cor sobre o nome quano passa o mouse*/
h2:hover{
color: rgb(255, 0, 0);
 transition: 0.3s ease-in-out;

}

/*simbolo do whats*/
a:hover{ display:flex;
flex-direction:;
align-items:start;
margin-top:1%;
justify-content:start;
margin: top 2px;%;
transform: scale(1.0);
transition: 0.3s ;
  
}
    
/*barra do inicio preta do menu*/
ul{display:flex;
flex-direction:row;
align-items:center;
background-color:rgb(0, 0, 0);
max-width: 1908px;
}
/*mouse sobre as motos/animacao*/
 .modelo_motos1{
   
transform: scale(1.3);
transition: 0.5s ;


display:flex
transform: scale(1.3);
transition: 0.5s ;
padding: 1px 150px;
white-space:nowrap
width:max-content;
/*carrocel automatico*/
animation:5s modelo_motos1 infinite linear;
display:inline-block;

 }
 .MOTOS{
display:flex;
white-space: nowrap;
background: white;
display:inline-block;
overflow: hidden;

 }
.MOTOS:hover  .modelo_motos1   {
   
animation-play-state: paused;


}

/*nome comprar abaixo da motos*/
button{
    display: flex

font-size 
font-size: 1.3rem;
background-color: rgb(255, 0, 0);
border:1px solid black;
margin:120px; 
padding:px;
 transition: 0.3s ease-in-out;
margin-top: 8px
}
/*nome da motocicleta*/
.bot{
display: flex;
margin-top: 1px;
max-width: 1550px;
gap: 300px;
background-color: rgb(63, 160, 165);
color width: ;
padding: 20px 200px;
white-space: nowrap;

}
/*cor sobre o nome quano passa o mouse*/
button:hover{
 background-color: rgb(0, 0, 0);
transition: 0.3s ease-in-out;

}

/*nome da moto*/
.modelo_motos{
 font-size: 1.5rem;
color:rgb(0, 0, 0);

}

/*final pagina*/
.final_pagina{
border:10px solid black;
background-color: rgb(175, 0, 0);
transform: scale(1.1);
transition: 0.3s ;

}
/*barra cinza final pagina*/
footer{
    
padding: 5% 0;
color: black;
width:2000px;
height:650px;
background-color:#b4b4b4;
 font-size: 2rem;

}
/*nome MotoSpotsTrail no fin da pagina*/
h3{
display: flex;
flex-direction:row;
align-items:center;

color: red;
font-size: 5rem;

}
h4{
font-size: 2.5rem;

}
/*mouse sobre as motos final site*/
 .motos_final:hover{

transform: scale(1.1);
transition: 0.5s ;

 }
 @keyframes modelo_motos1{
   from {
    transform: translateX(0);

   }
   to{
    transform: translateX(-15%);
   }

 }



     
}

   
 
